@import "https://unpkg.com/open-props";
@import url('familjen-grotesk.css');

/* Setup Scrolling */
html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

h1 {
  font-family: 'FamiljenGrotesk-BoldItalic';
  font-size: 2em;
  font-weight: 400; 
  background-color: blanchedalmond;
  padding: .25em;
  border-radius: var(--border-size-4);
  opacity: .7;
}

p {
  font-family: 'FamiljenGrotesk-Regular';
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: #27B127;
  background-color: black; 
  opacity: .7;
  border-radius: var(--border-size-5);
  padding: 1em;
}

img {
  width: 200px;
  height: 300px;
  border-radius: var(--border-size-3);
  box-shadow: var(--shadow-size-1);
}

.monster {
  text-decoration: line-through;
}

.sub {
  font-size: 2.5em;
  color: antiquewhite;
  font-family: 'FamiljenGrotesk-SemiBoldItalic';
}

a {
  font-size: 1.5em;
  color: antiquewhite;
  font-family: 'FamiljenGrotesk-SemiBoldItalic';
}

.funny {
  font-size: x-small;
}

/* brewing.html */


.brewing {  
  font-size: 1.5em;
  background-color: #F2C641;
  color: #4D4D4D;
  padding: .5em;
}

.brew {
  text-align: center;
  background-color: #F2C641;
  color: #4D4D4D;
}




/* Container for Background Images  */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.one {
  background-image: url("https://picsum.photos/200/300");
}

.two {
  background-image: url("https://picsum.photos/200/300");
}

.three {
  background-image: url("https://picsum.photos/200/300");
  
}

.four {
  background-image: url("https://picsum.photos/200/300");
}

.five {
  background-image: url("https://picsum.photos/200/300");
}

.six {
  background-image: url("https://picsum.photos/200/300");
}

.seven {
  background-image: url("https://picsum.photos/1600/800?random=7");
}

.copper {
  background-image: url(copper.jpg);
}

.lauter {
  background-image: url(lauter.jpeg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

